.ChromeTrapOptions-body {
  background-color: #f1f1e8;
  font-color: #444;
  font-family: georgia;
  font-size: .9em;
  line-height: 1.3em;
}

.ChromeTrap-body{
  font-family: georgia, sans-serif;
  min-width: 14em;
}
.ChromeTrapOptions-wrapper {
  max-width: 50em;
  margin: 0 auto;
}
.ChromeTrap-logo{
  float: left;
}
.ChromeTrap-header {
  font-size: 1.2em;
  font-family: georgia, sans-serif;
  margin: 0;
  padding: .75em 1em;
}
.ChromeTrap-header:after{
  clear:both;
}
.ChromeTrap-error {
  color: #cc0000;
}
.ChromeTrap-body a {
  color: #347983;
  text-decoration: underline;
}
.ChromeTrap-body a:hover {
  color: #7cc576;
}
.ChromeTrap-body button, .ChromeTrap-body input[type='submit']{
  background: #ff7443;
  padding: .25em;
  color: #fff;
  border-radius: 3px;
  font-family: sans-serif;
  text-decoration: none;
  width: 100%;
  margin-left: 14em;
  margin: 1em 0;
  font-size:.9em;
}
.ChromeTrap-resetLink {
  font-size: .8em;
}
.ChromeTrap-body form {
  margin-right: 1em;
}
.ChromeTrap-love {
  font-size: .8em;
  color: #666;
}
.ChromeTrap-queryInput{
  padding: 5px;
  font-size: 1.1em;
  color: #999990;
  font-family: georgia, sans-serif;
  border-radius: 3px;
  border: 1px solid #c6c6bd;
  -webkit-box-shadow: inset 3px 3px 10px 0 rgba(0,0,0,0.18);
  box-shadow: inset 3px 3px 10px 0 rgba(0,0,0,0.18);
  width: 100%;
}
.ChromeTrap-tokenInput, .ChromeTrap-body textarea{
  padding: 5px;
  font-size: .95em;
  color: #999990;
  font-family: georgia, sans-serif;
  border-radius: 3px;
  border: 1px solid #c6c6bd;
  -webkit-box-shadow: inset 3px 3px 10px 0 rgba(0,0,0,0.18);
  box-shadow: inset 3px 3px 10px 0 rgba(0,0,0,0.18);
  width: 100%;
}
.ChromeTrap-ref {
  font-size: .8em;
  color: #222;
  width: 100%;
  margin: .5em 0;
}
.ChromeTrap-note {
  font-size: .75em;
  color: #666;
}
.ChromeTrap-capture{
  color: #666;
  font-style: italic;
  text-overflow: ellipsis;
  width: 15em;
  display: block;
  height: 16px;
  overflow-x: hidden;
}